@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #f9f9f9;
  --text-color: #333;
  --primary-color: #d39a08;
  --secondary-color: #ff7235;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
  --primary-shadow: rgba(6, 6, 6, 0.4);
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  font-weight: 600;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  a {
    text-decoration: none;
    color: var(--text-color);
  }
  a:hover {
    color: var(--primary-color);
  }
}

nav ul {
  display: flex;
  list-style: none;
  gap: 3.5rem;
}

footer {
  background-color: var(--bg-color);
  color: var(--text-color);
  text-align: center;
  padding: 1.5rem 0;
  margin-top: auto;
}

/* Home style */
.about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3.5rem;
  background-color: var(--bg-color);
  div {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  }
}

#skills {
  margin-top: 2rem;
  font-weight: 800;
  font-size: 1.5rem;
  text-align: center;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: center;
  img {
    margin: 0 auto;
    width: 10vw;
    height: auto;
    scale: 1.1;
  }
}

/* HTML Cheatsheet style */

table {
  width: 30vw;
  margin: 1rem;
  border-collapse: collapse;
  margin-top: 2rem;
}

table th,
table td {
  border: 1px solid var(--text-color);
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid var(--text-color);
}

table th {
  font-weight: bold;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #f1f1f1;
}

.htmlCheatSheetMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: space-between;
  flex-wrap: wrap;
  padding: 3.5rem;
  background-color: var(--bg-color);
  font-size: small;
}

/* Resume style */

.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5rem;
  background-color: var(--bg-color);
  color: var(--text-color);
}
.aboutMe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.5rem;
  gap: 3.5rem;
}

.resume h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.resume p {
  margin-bottom: 0.5rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.resume section {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid var(--primary-color);
  padding: 1.5rem;
}

.drums, .dota {
    padding: 1.5rem;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
    em {
      font-size: 0.8rem;
      color: var(--text-color);
    }
  img {
    width: 40%;
    height: auto;
    border: #333;
    border-radius: 6px;
  }
}


.resume section h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.resume section ul {
  list-style: none;
  padding-left: 1rem;
}

.resume section ul li {
  margin-bottom: 0.5rem;
}

.resume section ul li::before {
  content: "•";
  margin-right: 0.5rem;
}

.resume section .sub-section {
  margin-left: 1rem;
}

.resume section .sub-section ul {
  padding-left: 0;
}

.resume section .sub-section ul li {
  margin-bottom: 0.25rem;
}

.resume section .sub-section ul li::before {
  content: "-";
  margin-right: 0.5rem;
}

.resume section .sub-section .sub-sub-section {
  margin-left: 1rem;
}

.resume section .sub-section .sub-sub-section ul {
  padding-left: 0;
}

.resume section .sub-section .sub-sub-section ul li {
  margin-bottom: 0.25rem;
}

.resume section .sub-section .sub-sub-section ul li::before {
  content: "-";
  margin-right: 0.5rem;
}

.css-cheatsheet {
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    padding: 1.5rem;
  }
}
@media (max-width: 700px) {
  .aboutMe {
    flex-direction: column;
    align-items: flex-start;
  }
}
